<!-- <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Sign up</h3>
  <mat-form-field>
    <input matInput placeholder="E-Mail Address" formControlName="email" required>
    <mat-error *ngIf="getFormControl('email').invalid">{{getErrorMessage("email")}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" type="password" formControlName="password" required>
    <mat-error *ngIf="getFormControl('password').invalid">{{getErrorMessage("password")}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Confirm your password" type="password" formControlName="passwordConfirm" required>
    <mat-error *ngIf="getFormControl('passwordConfirm').invalid">{{getErrorMessage("passwordConfirm")}}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Register</button>
  <span class="mat-caption">Already have an account?
    <button mat-button type="button" color="primary" routerLink="/user/login">Login</button>
  </span>
</form> -->
<form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('email') }">
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
    <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('password') }">
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

  <div class="text-center">
    <hr class="hr-text" data-content="OR">
    <a [routerLink]="['/user/login']">
      Sign in?
    </a>
  </div>
</form>
