.ant-layout-header .header-item {
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.ant-layout-header .header-title {
    font-size: 20px;
}

.ant-layout-header .anticon {
    font-size: 18px;
}

.ant-layout-header .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.ant-layout-header .trigger:hover {
    color: #108ee9;
}

.ant-layout-header .ant-menu-root {
    float: right;
}

.ant-layout-header .toolbar-title {
    font-size: 20px;
    font-weight: bold;
}

/*
{
  xs: '480px',
  sm: '576px',
  md: '768px',
  lg: '992px',
  xl: '1200px',
  xxl: '1600px',
} 
Smartphones (landscape) ----------- */

@media only screen and (min-width: 992px) {
    /* Styles */
    .ant-layout-header .toolbar-title {
        padding-left: 18px;
    }
}