<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
          <span data-feather="dashboard"></span>
          Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">
          <span data-feather="file"></span>
          About
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/quiz/create']" [routerLinkActive]="['active']">
          <span data-feather="shopping-cart"></span>
          Create Quiz
        </a>
      </li>
    </ul>
  </div>
</nav>
